.wrapper {
  padding: 2em;
}

.details {
  text-align: center;
  padding: 0.5em 0;
}

.avatar {
  width: 5em;
  box-shadow: 0.1em 0.1em 0.8em var(--box-shadow-color);
  border-radius: 50%;
}

.category {
  text-align: center;
  padding: 1em 0;
  margin: 0.5em;
  text-transform: capitalize;
}

.stats {
  display: flex;
  justify-content: space-around;
  padding: 0.5em 0;
}

.label {
  font-size: 0.8em;
}

.value {
  font-weight: 400;
}

.appInfo {
  text-align: center;
  padding: 0.5em 0;
}

.btn {
  border: none;
  color: var(--main-color);
  background: none;
  padding: 0.2em 0.3em;
  display: block;
  margin: auto;
  cursor: pointer;
}

.btn:hover {
  color: var(--highlight-color);
}
