.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--transparent-background-color);
  backdrop-filter: blur(4px);
  overflow: visible;
  z-index: 2;
}

.logo {
  color: var(--main-color);
  padding: 0.5em;
  font-size: 1.5em;
  font-weight: 400;
}
.logo:hover {
  color: var(--highlight-color);
}

.backBtn {
  position: absolute;
  left: 0;
  padding: 0.5em;
  cursor: pointer;
}

@media (display-mode: standalone) {
  /* Installed PWA */
  .header {
    background-color: #fff;
  }
}
@media (display-mode: standalone) and (prefers-color-scheme: dark) {
  /* Installed PWA and dark mode ennabled */
  .header {
    background-color: #000;
  }
}
