.card {
  display: flex;
  padding: 0.5em 0.25em;
  margin: 1em 0;
  background-color: var(--secondary-background-color);
  border-radius: var(--border-radius);
  box-shadow: 0.1em 0.1em 0.8em var(--box-shadow-color);
  width: 100%;
}

.cardInfo {
  color: var(--main-color);
  padding: 0 0.5em;
  font-size: 0.8em;
}
.overview {
  padding: 0.5em 0;
}
.meta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.5em 0;
}
