.episodeList {
  padding: 1em;
}

.stillContainer {
  position: relative;
}

.still {
  width: 100%;
  border-radius: var(--border-radius);
  margin: 0.5em 0;
}

.episodeDetails {
  position: absolute;
  bottom: 1.5em;
  left: 0.5em;
  right: 0.5em;
  color: var(--main-color);
  background-color: var(--transparent-background-color);
  backdrop-filter: blur(4px);
  font-size: 0.8em;
  padding: 0.5em;
  border-radius: var(--border-radius);
}

.title,
.info,
.overview {
  padding: 0.1em 0;
}
