@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root {
  --main-color: #222222;
  --main-background-color: #ececec;
  --secondary-background-color: #ffffff;
  --transparent-background-color: rgba(255, 255, 255, 0.75);
  --primary-color: #252525;
  --box-shadow-color: #dddddd;
  --border-radius: 0.75em;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: var(--main-color);
  background-color: var(--main-background-color);
  width: 100%;
}

main {
  margin: 52px 0;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 500;
  font-size: 1.7em;
}
h2 {
  font-weight: 400;
  font-size: 1.5em;
}
h3 {
  font-weight: 400;
  font-size: 1.3em;
}
h4 {
  font-weight: 400;
  font-size: 1.1em;
}

.page {
  padding: 0.5em;
}

.tag {
  display: inline-block;
  color: #d53a9d;
  background: linear-gradient(to left, #743ad5, #d53a9d, #2c19d6);
  border-radius: var(--border-radius);
  border: 0.1em solid transparent;
  box-shadow: inset 0 0 0 100px var(--main-background-color);
  background-size: 110% 110%;
  font-size: 0.8em;
  font-weight: 400;
  padding: 0.25em 0.33em;
  margin: 0.2em;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --main-color: #cfcfcf;
    --main-background-color: #000000;
    --secondary-background-color: #252525;
    --transparent-background-color: rgba(0, 0, 0, 0.75);
    --primary-color: #ececec;
    --box-shadow-color: #000000;
  }
} */
