@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

:root {
  --main-color: #222222;
  --main-background-color: #ececec;
  --secondary-color: #ccc;
  --secondary-background-color: #ffffff;
  --transparent-background-color: rgba(255, 255, 255, 0.75);
  --highlight-color: #bd2887;
  --box-shadow-color: #dddbdb;
  --border-radius: 0.75em;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  color: var(--main-color);
  background-color: var(--main-background-color);
  width: 100%;
}

main {
  margin: 52px 0 75px 0;
}

a {
  text-decoration: none;
}
a:hover {
  filter: brightness(0.8);
}

h1 {
  font-weight: 500;
  font-size: 1.7em;
}
h2 {
  font-weight: 400;
  font-size: 1.5em;
}
h3 {
  font-weight: 400;
  font-size: 1.3em;
}
h4 {
  font-weight: 400;
  font-size: 1.1em;
}

input,
button {
  font-family: 'Rubik', sans-serif;
}

.page-title {
  padding: 0.5em 0.25em;
}
.page-container {
  padding: 0.5em;
}

.card {
  color: var(--main-color);
  background-color: var(--secondary-background-color);
  padding: 0.75em;
  margin: 0.75em 0;
  border-radius: var(--border-radius);
  box-shadow: 0.1em 0.1em 0.8em var(--box-shadow-color);
}

.tag {
  display: inline-block;
  color: var(--highlight-color);
  background: linear-gradient(to left, #743ad5, #d53a9d, #2c19d6);
  border-radius: var(--border-radius);
  border: 0.1em solid transparent;
  box-shadow: inset 0 0 0 100px var(--main-background-color);
  background-size: 110% 110%;
  font-size: 0.8em;
  font-weight: 400;
  padding: 0.25em 0.33em;
  margin: 0.2em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #cfcfcf;
    --main-background-color: #080808;
    --secondary-color: #333;
    --secondary-background-color: #1d1d1d;
    --transparent-background-color: rgba(32, 32, 32, 0.75);
    --highlight-color: #f030a9;
    --box-shadow-color: #050505;
  }
}
