.posterList {
  display: flex;
  flex: row;
  overflow-x: scroll;
}
.posterTitle {
  margin: 0 0.25em;
}

.posterList a {
  color: var(--main-color);
  margin: 0.25em;
}
.posterList::-webkit-scrollbar {
  display: none; /* Removes horizontal scrollbar */
}
