.welcome,
.discover {
  padding: 1.5em 0;
}
.welcome h1,
.discover h1 {
  padding: 0 0.25em;
}
.content {
  display: flex;
  flex: row;
  overflow-x: scroll;
  padding: 0.5em 0;
}
.content::-webkit-scrollbar {
  display: none; /* Removes horizontal scrollbar */
}

.horizontalList {
  padding: 0.25em 0 1.5em 0;
}
.horizontalListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 0.5em;
}
.horizontalListHeader a {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 0.8em;
}
