.horizontalList {
  padding: 1.5em 0;
}
.horizontalListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 0.5em;
}
.horizontalListHeader a {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 0.8em;
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.list a {
  color: var(--main-color);
  margin: 1.5em 0.25em;
}
.list a img {
  width: 100%;
  height: auto !important;
  margin: auto !important;
}

.posterList {
  display: flex;
  flex: row;
  overflow-x: scroll;
}
.posterTitle {
  margin: 0 0.25em;
}

.posterList a {
  max-width: min-content;
  color: var(--main-color);
  margin: 0.25em;
}
.posterList::-webkit-scrollbar {
  display: none; /* Removes horizontal scrollbar */
}

.controls {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}
