.horizontalList {
  padding: 0.5em 0;
}
.horizontalListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 0.5em;
}
.horizontalListHeader a {
  color: var(--main-color);
  text-transform: uppercase;
  font-size: 0.8em;
}

.mediaSelector {
  display: flex;
  width: fit-content;
  overflow: hidden;
  border-radius: var(--border-radius);
  margin: 1em auto;
  padding: 0.5em 0;
  box-shadow: 0.1em 0.1em 0.4em 0.1em var(--box-shadow-color);
}
.option input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
}
.option label {
  color: var(--main-color);
  text-align: center;
  padding: 0.8em;
  cursor: pointer;
}
.option input:checked + label {
  color: var(--main-background-color);
  background-color: var(--main-color);
}

.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.list a {
  color: var(--main-color);
  margin: 0.25em;
}
.list a img {
  width: 100%;
  height: auto !important;
  margin: auto !important;
}

.posterList {
  display: flex;
  flex: row;
  overflow-x: scroll;
}
.posterTitle {
  margin: 0 0.25em;
}

.posterList a {
  color: var(--main-color);
  margin: 0.25em;
}
.posterList::-webkit-scrollbar {
  display: none; /* Removes horizontal scrollbar */
}
