.header {
  padding: 1em 0.5em;
  width: '100%';
  height: 'auto';
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.title {
  font-weight: 600;
  color: var(--main-background-color);
  padding: 0.25em 0;
}
