.info,
.overview,
.meta {
  padding: 1em 0.5em;
}

.info {
  background-color: var(--secondary-background-color);
  box-shadow: 0.1em 0.1em 0.8em var(--box-shadow-color);
  margin: 0.5em;
  border-radius: var(--border-radius);
}

.info p {
  margin-bottom: 0.5em;
}

.seasonOverview h3 {
  padding: 0 0.5em;
}

.recentEpisode {
  padding: 0.5em;
}

.recentEpisode a {
  position: relative;
}

.recentEpisode h3 {
  padding: 0.5em 0;
}

.still {
  width: 100%;
  border-radius: var(--border-radius);
  margin: 0.5em 0;
}

.episodeDetails {
  position: absolute;
  bottom: 1.5em;
  left: 0.5em;
  right: 0.5em;
  color: var(--main-color);
  background-color: var(--transparent-background-color);
  backdrop-filter: blur(4px);
  font-size: 0.8em;
  padding: 0.5em;
  border-radius: var(--border-radius);
}

.episodeDetails h4,
.episodeDetails p {
  padding: 0.1em 0;
}

.episodeList {
  padding: 1em;
}

.stillContainer {
  position: relative;
}
