/* Main show and movie page */
.overview,
.meta {
  padding: 1em 0.5em;
}

/* Show page only */
.nextEpisodeDate {
  margin: 0.5em;
}
.seasonOverview h3 {
  padding: 0 0.5em;
}

.seasonList {
  display: flex;
  flex: row;
  overflow-x: scroll;
}
.posterTitle {
  margin: 0 0.25em;
}

.seasonList a {
  max-width: min-content;
  color: var(--main-color);
  margin: 0.25em;
}
.seasonList::-webkit-scrollbar {
  display: none; /* Removes horizontal scrollbar */
}

.recentEpisode {
  padding: 0.5em;
}

.recentEpisode a {
  position: relative;
}

.recentEpisode h3 {
  padding: 0.5em 0;
}

/* Season page only */
.episodeList {
  padding: 1em;
}

.stillContainer {
  position: relative;
}

.still {
  width: 100%;
  border-radius: var(--border-radius);
  margin: 0.5em 0;
}

.episodeDetails {
  position: absolute;
  bottom: 1.5em;
  left: 0.5em;
  right: 0.5em;
  color: var(--main-color);
  background-color: var(--transparent-background-color);
  backdrop-filter: blur(4px);
  font-size: 0.8em;
  padding: 0.5em;
  border-radius: var(--border-radius);
}

.episodeDetails h4,
.episodeDetails p {
  padding: 0.1em 0;
}

/* Episode page only */
.episodeOverview {
  padding: 1em 0.5em;
  margin: 0.5em;
}

.episodeOverview p {
  margin-bottom: 0.5em;
}
