.header {
  padding: 1em 0.5em;
  width: '100%';
  height: 'auto';
  background-repeat: no-repeat;
  background-position: top;
}

.header .title {
  font-weight: 600;
  color: var(--main-background-color);
}

.info,
.overview,
.meta {
  padding: 1em 0.5em;
}

.info {
  background-color: var(--secondary-background-color);
  box-shadow: 0.1em 0.1em 0.1em 0.1em var(--box-shadow-color);
  margin: 0.5em;
  border-radius: var(--border-radius);
}

.info p {
  margin-bottom: 0.5em;
}
