.section {
  padding: 1.5em 0.5em;
}

/* Watching */
.controls {
  display: flex;
  justify-content: space-between;
}

.watchItem {
  display: block;
  margin: 1em 0.5em;
}
.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0.2em 0.2em 0.4em var(--box-shadow-color);
  border-radius: var(--border-radius);
  overflow: hidden;
}
.banner div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  min-height: 7.5em;
  padding: 0 1em;
}

/* Calendar */
.calendarGroup {
  padding: 0.2em 0;
  margin: 1em 0;
}

.date {
  filter: brightness(2);
}
.items {
  padding: 0.1em 0.5em;
}

.item a {
  display: table;
}
.title {
  color: var(--primary-color);
}
.item p {
  color: var(--main-color);
}
.title,
.item p {
  margin: 0.25em 0;
  padding: 0.2em 0;
}
.title:hover,
.episode:hover {
  text-decoration: underline;
}
