.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.list a {
  color: var(--main-color);
  margin: 0.25em;
}

.list a img {
  width: 100%;
  height: auto !important;
  margin: auto !important;
}
.mediaSelector {
  display: flex;
  width: fit-content;
  overflow: hidden;
  border-radius: var(--border-radius);
  margin: 1em auto;
  padding: 0.5em 0;
  box-shadow: 0.1em 0.1em 0.8em var(--box-shadow-color);
}
.option input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
}
.option label {
  color: var(--main-color);
  text-align: center;
  padding: 0.8em;
  cursor: pointer;
}

.option input:checked + label {
  color: var(--main-background-color);
  background-color: var(--main-color);
}
